<div *ngIf="!showSpinner">
<h4>Please upload every time only one image (retinal-vessel) with type PNG or JPG!</h4>
<div>
  <input type="file" class="file-input"
       (change)="onFileSelected($event)">
    <button [disabled] = "imageBase64==''"
      (click)="sendImage()">
      Send
    </button>
</div>
<div *ngIf="warningMessage!=''">{{warningMessage}}</div>

<div style="color:red;" *ngIf="showError!=''">{{showError}}</div>
<!--<img *ngIf="show"-->
<!--  [src]="showKIImage"-->
<!--/>-->

<!--<img *ngIf="show"-->
<!--  [src]="imageBase64"-->
<!--/>-->
<div class="container" *ngIf="show">

  <div class="box">
  <img [src]="showKIImage"/>
  <h4>Input Image</h4>
  </div>

  <div class="box">
  <img [src]="imageBase64"/>
  <h4>Output Image</h4>
  </div>
</div>



</div>

<div *ngIf="showSpinner">
  <p>please wait!</p>
  <mat-spinner style="margin:0 auto;"
                     mode="indeterminate" color="warn"></mat-spinner>

</div>

