<h4>Please Add your signature here</h4>
<canvas #canvas1 width="300" height="300"  (mouseout)="startDrawing()"  (click)="startDrawing()"></canvas>


<div class="buttons flex justify-between">
  <button  [disabled]="cheakEmpty" (click)="clearPad()">Clear</button>
  <button  [disabled]="cheakEmpty" (click)="savePad()">Get Prediction</button>
</div>

<div *ngIf="output!==''">
  <p>The prediction is : {{output}}</p>
</div>


<div *ngIf="show">
  <mat-spinner style="margin:0 auto;"
                     mode="indeterminate" color="warn"></mat-spinner>

</div>




