<div class="container">
 <h1 style="color:Tomato;">KI Demo</h1>
<nav>
  <ul class="myUL">
    <li><a style="color:#3399ff;" routerLink="/retinal-vessel-component" routerLinkActive="active" ariaCurrentWhenActive="page">retinal-vessel</a></li>
    <li><a style="color:#3399ff;" routerLink="/kidney-component" routerLinkActive="active" ariaCurrentWhenActive="page">pseudoCT</a></li>
    <li><a style="color:#3399ff;" routerLink="/handwrite" routerLinkActive="active" ariaCurrentWhenActive="page">handwrite</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
</div>

